
.las {
  font-size: 20px;
}
p.help {
  /*color: #9f3a38;*/
}
header {
  margin-bottom: 1.5rem;
}
.logo-text {
  padding: 1rem .5rem;
}
.content.caption {
  text-align: center;
}
h1 {
  font-size: 24px !important;
  text-transform: capitalize !important;
}
p {
  font-size: 16px;
}
p.caption {
  font-size: 16px;
  font-weight: 600;
}
a.ui.button {
  margin-top: 1rem;
}
label {
  font-size: 16px !important;
}